html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    min-width: fit-content;
}

body.bg-login {
    z-index: -1;
    background: linear-gradient(0deg, rgba(16, 58, 97, 0.65),rgba(16, 58, 97, 0.65)), url(https://images.unsplash.com/photo-1536420124982-bd9d18fc47ed?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2002&q=80) center no-repeat;
    height: 100%;
    background-size: cover;
}

body.bg-sign-up {
    z-index: -1;
    background: linear-gradient(0deg, rgba(16, 58, 97, 0.65),rgba(16, 58, 97, 0.65)), url(https://images.unsplash.com/photo-1586853462032-e0ce6814e09d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) center no-repeat;
    height: 100%;
    background-size: cover;
}

body.bg-home {
    z-index: -1;
    background-color: #F4F6FF;
    height: 100%;
    background-size: cover;
}

.nav-login, .nav-sign-up {
    width: -webkit-fill-available;
    display: none;
    min-width: fit-content;
    position: fixed;
    z-index: 5;
    padding: 2em;
}

.nav-home {
    width: -webkit-fill-available;
    display: flex;
    min-width: fit-content;
    position: fixed;
    z-index: 5;
    padding: 2em;
}

.nav-home i {
    color:#2690ED;
    font-size: 2em;
}

.nav-home-toggle {
    flex: 1;
    margin-bottom: auto;
    margin-left: 1em;
    cursor: pointer;
}

#tab-menu {
    font-size: 2.5em;
}

#tab-close{
    position:absolute;
    font-size: 2.5em;
    left: 1.2em;
}

.nav-box {
    flex:1;
    display: flex;
    justify-content: space-around;
}

.nav-tab {
    margin-right: 25px;
}

.nav-tab p {
    color:#2690ED;
    margin-block-start: 0px;
    margin-inline-start: -5px;
}

a#test {
    margin-inline-start: -8px; 
}

a#practise {
    margin-inline-start: 6px; 
}

a#logout {
    margin-inline-start: 2px; 
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden
}

.header-login, .header-sign-up {
    padding-left: 18vw;
    padding-top: 3vh;
    flex:1;
    display: flex;
    flex-direction: column;
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main > * {
    grid-column: 2 / -2;
}

.main > .full {
    grid-column: 1 / -1;
}

.header-home {
    color:#2690ED;
    padding: 6em 0em 0em 6em;
}

.header-home-lesson {
    color:#2690ED;
    padding: 3em 0em 0em 6em;
}

.header-home-lesson i {
    color:#2690ED;
}

.form-box {
    flex:1;
    display: flex;
    padding-left: 18vw;
    flex-direction: column;
}

.horizontal-scroll-box {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 3em 6em 3em 6em;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
}

.horizontal-scroll-box::-webkit-scrollbar {
    display: none;
  }
  

.box {
    display: flex;
    color: #2690ED;
    margin-block-start: unset;
    margin-block-end: unset;
    padding-inline-start: unset;
}

.box-dots {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dots {
    /* Rounded border */
    border-radius: 9999px;
    height: 12px;
    width: 12px;

    /* Inactive dot */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, .3);

    /* OPTIONAL: Spacing between dots */
    margin: 0 4px;
}

#first_dot {
    background-color: #2690ED;
}

.box a:-webkit-any-link {
    color: #2690ED;
    cursor:pointer;
}

.box form {
    padding-left: 5vw;
}

.box-header {
    font-size: x-large;
}

.box-content-inner {
    padding-left: 10px;
    padding-right: 15px;
}

.test-btn {
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    background-color: #2690ED;
    width: fit-content;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer img {
    width: 50vw;
}

#zilla {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

.video {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    padding: 3em 0em 0em 6em;
}

.btn-box {
    display: flex;
    justify-content: space-between;
}

#previous-btn-back {
    display: none;
}

.shadow-box {
    margin:1em 0em 1em 0em;
    visibility: hidden;
}

canvas {
    height: 100vh;
    width: 100vw;
}

.error {
    margin-block-start: unset;
    color: #FFEC03;
    width: fit-content;
    font-size: large;
}

.no-padding {
    margin-block-end: 0;
}
.no-padding-left {
    padding-left: unset;
}

.extra-padding {
    margin-block-end: 10vh;
}



/* large desktops and up ———– */
@media screen and (min-width: 1220px) {

    video {
        height: 40vh;
        outline: unset;
        padding-left: 20px;
    }

    .header-home {
        display: flex;
        flex-direction: column;
    }

    .horizontal-scroll-box {
        justify-content: center;
    }

    .header-subheader {
        font-size: x-large;
    }
    
    .header-header {
        font-size: 55px;
    }

    .box-dots {
        display: none;
    }

    .btn-box-test {
        flex:0.8;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-translation{
        color:#2690ED;
        font-weight: 700;
        font-size: x-large;
    
    }
    
    .text-description{
        color: #2690ED;
        font-weight: 300;
        font-size: large;
        max-width: 50vw;
        font-style: italic;
    }

    .form-input {
        background: none;
        font-family: 'Raleway', sans-serif;
        font-size: large;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        width: 50vw;
    }

    .btn-box {
        padding: 3em 0em 0em 6em;
    }

    .next-btn, .previous-btn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        width: fit-content;
        height: fit-content;
        font-size: large;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease 0s;
        cursor: pointer;
    }
    .next-btn {
        margin: 1em 5em 0em 5em;
    }

    .box-content {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        max-width: 500px;
    }

    .box-content i {
        padding-right: 1vw;
        font-size: 10em;
        transition: all 0.3s ease 0s;
    }

    .box-content a {
        display: flex;
    }

    p {
        display: block;
        margin-block-start: 0px;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;  
    }

    figure {
        padding-left: 2vw;
        margin-block-start: 5px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .test-btn-box {
        padding-left: 6em;
    }

    .test-btn {
        margin: 60px 0px 60px 0px;
        font-size: xx-large;
        padding: 15px 50px 15px 50px;
    }

    #size-up {
        padding-top: 5px;
        font-size: 4em;
    }

    .footer img {
        width: 390px;
    }

    .footer-mobile {
        display: none;
    }

    .previous-btn-mobile, .next-btn-mobile {
        display: none;
    }

}

/* Medium devices  */
@media screen and (min-width: 625px) and (max-width: 1220px) {

    video {
        width: 73vw;
        outline: unset;
    }

    .header-home-lesson {
        padding: 3em 0em 0em 6em;
    }

    .header-header {
        font-size: 40px;
        padding-right: 1em;
    }

    .header-subheader {
        font-size: 20px;
        max-width: 600px;
    }

    .text-translation{
        color: #2690ED;
        font-weight: 700;
        font-size: 25px;
    }
    
    .text-description{
        color: #2690ED;
        font-weight: 300;
        font-size: 20px;
        max-width: 50vw;
        font-style: italic;
    }

    .btn-box-test {
        flex:0.8;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-input {
        background: none;
        font-family: 'Raleway', sans-serif;
        font-size: large;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        width: 50vw;
    }

    .btn-box {
        padding: 0em 0em 0em 6em;
    }

    .next-btn, .previous-btn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        width: fit-content;
        height: fit-content;
        font-size: large;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease 0s;
        cursor: pointer;
    }

    .next-btn {
        margin: 1em 5em 0em 5em;
    }

    .previous-btn {
        margin: 1em 2em 0em 0em;
    }

    .box-content {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        max-width: 500px;
    }

    .box-content i {
        padding-right: 1vw;
        font-size: 10em;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        align-self: center;
    }

    .box-content a {
        display: flex;
    }

    p {
        display: block;
        margin-block-start: 5px;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;  
    }

    .box-description {
        font-size: 20px;
    }

    figure {
        padding-left: unset;
        padding-top: unset;
        margin-block-start: 5px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    #size-up {
        padding-top: 5px;
        font-size: 3em;
    }

    .test-btn-box {
        padding-left: 6em;
    }

    .test-btn {
        margin: 60px 0px 60px 0px;
        padding: 10px 45px 10px 45px;
        font-size: 25px;
    }

    .footer img {
        width: 390px;
    }

    .footer-mobile {
        display: none;
    }

    .previous-btn-mobile,.next-btn-mobile {
        display: none;
    }
}

@media screen and (max-width: 625px) {

    .form-input {
        background: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        width: 50vw;
    }

    .video {
        padding: 3em 0em 0em 0em;
    }

    video {
        width: 100vw;
        outline: unset;
    }

    .header-home-lesson {
        padding: 3em 0em 0em 4em;
    }

    .header-home {
        padding: 3em 0em 0em 4em;
    }

    .header-header {
        font-size: 40px;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    .header-subheader {
        font-size: 20px;
        max-width: 300px;
    }

    .horizontal-scroll-box {
        margin:1em 3em 1em 3em;
    }

    .box {
        padding-bottom: 2vh;
    }

    .box-content {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: flex-start;
        max-width: 500px;
    }

    .box-content a {
        display: flex;
        flex-direction: column;
    }

    .box-content i {
        padding-right: 1vw;
        font-size: 6em;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
    }

    .box-description {
        font-size: 18px;
        max-width: 250px;
    }

    .text-translation{
        color: #2690ED;
        font-weight: 700;
        font-size: 20px;
    }
    
    .text-description{
        color: #2690ED;
        font-weight: 300;
        font-size: 18px;
        max-width: 50vw;
        font-style: italic;
    }

    .btn-box-test {
        flex:0.8;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .test-btn-box {
        padding-left: 3em;
    }

    .test-btn {
        margin: 40px 0px 40px 0px;
        padding: 10px 30px 10px 30px;
        font-size: 18px;
    }

    .btn-box {
        padding: 3em 0em 0em 3em;
    }

    .next-btn, .previous-btn {
        font-family: 'Raleway', sans-serif;
        background-color: white;
        width: fit-content;
        height: fit-content;
        font-size: 16px;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;
        border: none;
        font-weight: 600;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease 0s;
        cursor: pointer;
    }

    .next-btn {
        margin: 2em 5em 0em 5em;
    }

    .previous-btn {
        margin: 2em 2em 0em 0em;
    }

    p {
        display: block;
        margin-block-start: 5px;
        margin-block-end: 2px;
        margin-inline-start: 0px;
        margin-inline-end: 0px; 
    }

    figure {
        padding-left: unset;
        padding-top: unset;
        margin-block-start: 5px;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    #size-up {
        padding-top: unset;
        font-size: 3em;
    }

    .footer-mobile {
        display: flex;
        justify-content: center;
    }

    .footer-mobile img {
        width: 50vw;
    }

}
@media screen and (max-width: 625px) and (hover:hover) {
    .previous-btn-mobile, .next-btn-mobile {
        display: none;
    }
}


@media screen and (max-width: 625px) and (hover: none) and (pointer: coarse) {
    .header-home-lesson {
        padding: 3em 0em 0em 3em;
    }

    .header-header {
        font-size: 30px;
    }

    .btn-box {
        padding: 3em 0em 0em 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .next-btn, .previous-btn {
        display: none;
    }

    #next-btn-mobile {
        display: block;
    }

    .previous-btn-mobile, 
    .previous-btn-mobile a, 
    .next-btn-mobile, 
    .next-btn-mobile a {
        color: #2690ED;
        font-weight: 300;
        font-size: 16px;
        max-width: 65vw;
        font-style: italic;
        margin-bottom: 1em;  
    }
}

.flex{
    display: flex;
    flex-direction: column;
}

#eye{
    color:white;
    font-size: 2em;
    position: absolute;
    padding-left: 15px;
    cursor: pointer;
}

#eyeclosed{
    color:white;
    font-size: 2em;
    position: absolute;
    padding-left: 15px;
    cursor: pointer;
}

.flex-inline{
    display: flex;
    flex-direction: row;
}

.flex-end {
    justify-content: flex-end;
}

.centre {
    justify-content: center;
}

.padding-right {
    padding-right: 8vw;
}

.max {
    max-width: 50vw;
}

.word {
    display:flex;
}

#playbutton {
    color: #2690ED;
    background-color: unset;
    cursor: pointer;
    text-align: unset;
    padding: unset;
    border: unset;
    outline: unset;
}

#size-up-up {
    padding-top: 5px;
    font-size: 6em;
}

.text{
    display: block;
}

.next-btn a, .previous-btn a {
    color: #2690ED;
}

#play:hover {
    color: #134b7c;
}

#playbutton:hover {
    color: #134b7c;
}

.test-btn:hover {
    background-color: #134b7c;
    color: white;
    box-shadow: 0px 5px 10px rgba(19, 75, 124, 0.4);
}

.next-btn:hover, .previous-btn:hover {
    background-color: #134b7c;
    box-shadow: 0px 5px 10px rgba(19, 75, 124, 0.4);
}

.next-btn:hover a, .previous-btn:hover a {
    color: white;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

.form-label {
    padding-bottom: 2vh;
    font-size: x-large;
    color: white;
}

.form-btn {
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    font-size: large;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #2690ED;
    color: white;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: unset;
}

.form-btn:hover{
    cursor: pointer;
    background-color: #00E894;
    box-shadow: 0px 8px 10px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-2px);
}

.register-label {
    padding-bottom: 2vh;
    font-size: medium;
    color: #EBEFFF;
}
.register-label-btn {
    padding-bottom: 2vh;
    font-size: medium;
    color: #EBEFFF;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

a {
    text-decoration: none;
}

.register-label-btn:hover {
    color: #00E894;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}