html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    display: flex;
}

#zilla {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}

.error {
    color: #EBEFFF;
}

.no-padding {
    margin-block-end: 0;
}
.no-padding-left {
    padding-left: unset;
}

.extra-padding {
    margin-block-end: 10vh;
}

.nav {
    width: 10vw;
    height: 100vh;
    background-color: #EBEFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav i {
    color:#EBEFFF;
    font-size: 3em;
    -webkit-text-stroke: 2px #788BFF;
}

.nav i:hover {
    color:#788BFF;
    font-size: 4em;
    -webkit-text-stroke: none;
    transition: all 0.3s;
    cursor: pointer;
}

.nav-account {
    flex: 1.8;
    margin-bottom: auto;
    padding-top: 3vh;
}

.nav-tab {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow-box {
    flex: 1.3;
    margin-top: auto;
}

.container {
    padding-left: 8vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color:#4F60FF;
}

video {
    height: 40vh;
    outline: unset;
}

.video {
    flex: 1;
    padding-top: 3vh;
}

.flex{
    display: flex;
    flex-direction: column;
}

.header {
    padding-top: 3vh;
    flex:1;
    display: flex;
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.centre {
    justify-content: center;
}

.padding-right {
    padding-right: 8vw;
}

.header p {
    margin-block-start: 0;
}

.header-subheader {
    font-size: x-large;
    color: #EBEFFF;
}

.header-header {
    font-size: 64px;
    color: #EBEFFF;
}

.word {
    display:flex;
}

#playbutton {
    background-color: unset;
    color: #EBEFFF;
    cursor: pointer;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    text-align: unset;
    padding: unset;
    border: unset;
    outline: unset;
}

#size-up {
    padding-top: 5px;
    font-size: 4em;
}

#size-up-up {
    padding-top: 5px;
    font-size: 6em;
}

#playbutton:hover {
    color: #00E894;
}

figure {
    padding-left: 2vw;
    padding-top: 1vh;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.text{
    display: block;
}

.text-translation{
    color: #EBEFFF;
    font-weight: 700;
    font-size: x-large;

}

.text-description{
    color: #EBEFFF;
    font-weight: 300;
    font-size: large;
    max-width: 50vw;
}

.btn-box {
    flex:0.8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.next-btn {
    font-family: 'Raleway', sans-serif;
    background-color: #EBEFFF;
    width: fit-content;
    height: fit-content;
    font-size: large;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.next-btn a {
    color: #2D42FF;
}

.test-btn-box{

}

.test-btn {
    margin: 40px 0px 40px 0px;
    font-family: 'Raleway', sans-serif;
    background-color: #EBEFFF;
    width: fit-content;
    font-size: xx-large;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: #2D42FF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.test-btn:hover {
    background-color: #0017E9;
    color: #EBEFFF;
    box-shadow: 0px 5px 10px rgba(0, 23, 233, 0.4);
}

.content {
    flex:1;
    display: flex;
}

.box {
    flex: 1;
    padding-left: 1vw;
    margin-right: 3vw;
    border-radius: 10px;
    height: max-content;
}

.box form {
    padding-left: 5vw;
}

.box-content {
    display: flex;
    align-items: center;
    color: #EBEFFF;
}

.box-content i {
    padding-right: 1vw;
    font-size: 10em;
    color: #EBEFFF;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

.box-content i:hover {
    color: #00E894;
    text-shadow: 0px 5px 10px rgba(46, 229, 157, 0.4);
}

.box-header {
    padding-right: 1vw;
    font-size: x-large;
    color: #EBEFFF;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

input::placeholder {
    color: #8F9FFF;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

input:invalid {
    border-bottom: 2px solid #FF4C4C;
  }

.form-input {
    background: none;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: #EBEFFF;
    border: none;
    border-bottom: 1px solid #EBEFFF;
    width: 50vw;
}

.form-label {
    padding-bottom: 2vh;
    font-size: x-large;
    color: #EBEFFF;
}

.form-submit {
    font-family: 'Raleway', sans-serif;
    width: fit-content;
    font-size: large;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    border: none;
    color: #2D42FF;
    font-weight: 600;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    outline: unset;
}

.form-submit:hover{
    cursor: pointer;
    background-color: #00E894;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
}

.register-label {
    padding-bottom: 2vh;
    font-size: medium;
    color: #EBEFFF;
}
.register-label-btn {
    padding-bottom: 2vh;
    font-size: medium;
    color: #EBEFFF;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

a {
    text-decoration: none;
}

.register-label-btn:hover {
    color: #00E894;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}