<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon-16.ico') }}">
        <title>Sounds Finnish</title>
    </head>
    <body>
        <div class= "nav">
            <div class="nav-account">
                <a href="/logout">
                    <i class="material-icons" id="tab">power_settings_new</i>
                </a>
            </div>
            <div class="nav-tab">
                <a href="/">
                    <i class="material-icons">home</i>
                </a>
            </div>
            <div class="nav-tab">
                <a href="/lesson">
                    <i class="material-icons">fitness_center</i>
                </a>
            </div>
            <div class="nav-tab">
                <a href="/test_yourself">
                    <i class="material-icons">school</i>
                </a>
            </div> 
            <div class="shadow-box"></div> 
        </div>
        <div class="container">
            {% block content %}

            {% endblock %}
            <script type="text/javascript" src="/static/media.js"></script>
            <script type="text/javascript" src="/static/styles.js"></script>
        </div>
    </body>
</html>