{% extends "base.html" %}
{% block content %}
<div class="header flex-end">
    <p class="header-subheader no-padding">Hello {{ name }}, welcome to the spoken Finnish course</p>
    <p class="header-header extra-padding" id="zilla">suomen puhekielen kurssi</p>
</div>

<div class="content">
    <div class="box">
        <div class="box-content">
            <a href="/3845127e-e6d9-4a15-b6e0-14276ace1cd8">
                <i class="material-icons">play_circle_outline</i>
                <div class="box-content-inner">
                    <p class="box-header" name="name" id="zilla">Lesson 1 - {{lesson1.name}}</p>
                    <p class="box-description" name="description">{{lesson1.description}}</p>
                </div>
            </a>  
        </div>
    </div>
    <div class="box">
        <div class="box-content">
            <a href="/618af7ad-3d63-4609-a7f1-50704106b9e4">
                <i class="material-icons">play_circle_outline</i>
                <div class="box-content-inner">
                    <p class="box-header" name="name" id="zilla">Lesson 2 - {{lesson2.name}}</p>
                    <p class="box-description" name="description">{{lesson2.description}}</p>
                </div>
            </a> 
        </div>
    </div>
</div>
{% endblock %}
