{% extends "base.html" %}
{% block content %}
{% block video %}{% endblock %}

<div class="main" id="main">
    <div class="header-{{status}}-lesson">
        <div class="word">
            <p class="header-header" id="zilla">{{word.name}}</p>
            <figure>
                <button id="playbutton">
                    <i class="material-icons" id="size-up">volume_up</i>
                </button>
                <audio id="audio"
                    src="{{audio_url}}">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            </figure>
        </div>
        <div class="text">
            <p class="header-subheader no-padding">translation:</p>
            <p class="text-translation">{{word.translation}}</p>
            <p class="text-description">{{word.description}}</p>
        </div> 
    </div>
    <div class="btn-box">
        {% if previous_word %}
            <div id="previous-btn-mobile" class="previous-btn-mobile" onclick="">
                <a id="previous-word-a" href="/{{lesson_id}}/{{previous_word.word_id}}">Swipe right for the previous word</a>
            </div>
            <div id="previous-btn" class="previous-btn" onclick="">
                <a id="previous-word-a" href="/{{lesson_id}}/{{previous_word.word_id}}">Previous Word</a>
            </div>
        {% else %}
            <div id="previous-btn-back" class="previous-btn" onclick="">
                <a href="/">Back to home</a>
            </div>
        {% endif %}

        {% if next_word %}
            <div id="next-btn-mobile" class="next-btn-mobile" onclick="">
                <a id="next-word-a" href="/{{lesson_id}}/{{next_word.word_id}}">Swipe left for the next word</a>
            </div>
            <div id="next-btn" class="next-btn" onclick="">
                <a id="next-word-a" href="/{{lesson_id}}/{{next_word.word_id}}">Next Word</a>
            </div>
        {% else %}
            <div id="next-btn-back" class="next-btn" onclick="">
                <a id="btn-back" href="/">Back to home</a>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}