{% extends "base.html" %}
{% block content %}

<div class="header-{{status}} flex-end">
    <p class="header-header no-padding" id="zilla">welcome</p>
    <p class="header-subheader extra-padding">please login</p>
</div>

<div class="form-box">
    <div class="box">
        <form action="/login" method="post">
            <div class="form-field">
                <label for="username" class="form-label">username</label>
                <input type="text" name="name" id="username" class="form-input" required>
            </div>
            <div class="form-field">
                <label for="password" class="form-label">password</label>
                <div class= "flex-inline">
                    <input type="password" name="password_hash" id="password" class="form-input" required minlength="8">
                    <div class= "flex">
                        <i class="material-icons" id="eye" style="visibility: visible" onclick="toggle_visibility()">visibility</i>
                        <i class="material-icons" id="eyeclosed" style="visibility: hidden"onclick="toggle_visibility()">visibility_off</i>
                    </div>
                </div>
            </div>
            {% if error %}
                <p class=error>{{ error }} </p>
            {% endif %}
            <div class="form-field">
                <input type="submit" class="form-btn" value="log in">
            </div>
            <div class="register">
                <label for="register" class="register-label">Not a member yet?</label>
                <a href="/signup">
                    <label for="register" class="register-label-btn">Register</label>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
