{% extends "base.html" %}
{% block content %}
<div class="shadow-box">
    <p>hidden</p>
</div>
<div class="main">
    <div class="header-{{status}}">
        <p class="header-header max" id="zilla">I knew you would be eager to test yourself but you should go learn the words first.</p>
        <p class="header-subheader no-padding">Tip: You need more than 10 learned words to create a new test</p>
    </div>
    <div class="btn-box-test">
        <div id="next-btn-mobile" class="next-btn">
            <a href="/3845127e-e6d9-4a15-b6e0-14276ace1cd8">Learn dem words!</a>
        </div>
    </div>
</div>
{% endblock %}