{% extends "lesson.html" %}
{% block video %}
    {% if show_video %}
    <div class="shadow-box">
        <p>hidden</p>
    </div>
    <div class="video">
        <video controls poster="">
            <source src="{{video_url}}">
           
            <!-- fallback for browsers that don't support mp4 <source src="videofile.webm" type="video/webm"> -->
           
        </video>
    </div>
        {{ super() }}
    {% else %}
        <div class="shadow-box">
            <p>hidden</p>
        </div>
        {{ super() }}
    {% endif %}
{% endblock %}